body {
    background-color: #eeeeee;
}

nav .text {
    font-size: 20px;
    text-align: center;
}
h3 {
    text-align: center;
    font-family: 'Cookie', cursive;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

h5 {
    margin: auto;
    line-height: 30px;
    font-family: 'Cookie', cursive;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

img {
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  
}

#text {
    text-align: right;
}

nav ul a {
    font-size: 25px;
}


